<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id='viewAnnovar' action="/api/fileUpload" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
    <p>Table_Annovar</p>
    <input type="file" id="viewAnnovarInput" name="file">
    <input type="submit">
</form>
<br><br><br>
<a href="/api/VCFFileList">VCFFileList 링크 - 유저별 VCF파일리스트</a>
<br><br>
<a href="/api/VCFFileConvert">VCFFileConvert 링크 - VCF파일 annovar</a>
<br><br>
<a href="/api/annovarFileList">annovarFileList 링크 - 유저별/VCF파일별 annovar 파일 리스트</a>
<br><br>
<a href="/api/convertFile">convertFile 링크 - 파일 내용</a>
<br><br>
<a href="/api/filteredList">filteredList 링크 - 필터링된 파일 내용</a>
<br><br>
<a href="/api/VCFFileConvertSelectDB">VCFFileConvertSelectDB 링크 - DB선택해서 annovar돌리기</a>
<br><br>
<a href="/api/basicInfo">basicInfo 링크 - 기본정보</a>
<br><br>
<a href="/api/selectByHeader">selectByHeader 링크 - 헤더선택</a>
<br><br>
<a href="/api/basicInfoHeader">basicInfoHeader 링크 - 기본정보 헤더 </a>
<br><br>
<a href="/api/headers">headers 링크 - 헤더 cheak true/false</a>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a href="/api/AllView">AllView 링크 - 타임리프로...</a>


</body>
</html>