<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ListPage</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>

<h2>파일 리스트</h2>
<table class="board_list">
    <colgroup>
        <col width="15%"/>
        <col width="*"/>
        <col width="15%"/>
        <col width="20%"/>
    </colgroup>
    <thead>
    <tr>
        <th scope="col">파일 번호</th>
        <th scope="col">파일 이름</th>
        <th scope="col">다운받기</th>
        <th scope="col">삭제</th>
        <th scope="col">상태변경</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.size(list)} > 0" th:each="list : ${page}">
        <td th:text="${list.fileIdx}" id="fileIdx" th:value="${list.fileIdx}"></td>
        <td class="title" ><a href="/annovar/annoSelect?" th:attrappend="href='dbType=ljb23_sift&fileIdx='+${list.fileIdx}"  th:text="${list.fileName}" ></a></td>
        <td class="title" style="text-align: center"><a href="/download" th:attrappend="href=${list.fileIdx}" th:text="다운받기" class="btn"></a></td>
        <td class="title" style="text-align: center"><a href="/delete" th:attrappend="href=${list.fileIdx}" th:text="삭제하기" class="btn"></a></td>
        <td class="title" style="text-align: center"><a href="/changeStatus" th:attrappend="href=${list.fileIdx}" th:text="상태변경" class="btn"></a></td>

    </tr>

    </tbody>

</table>
<a href="/tolist?page=" th:attrappend="href=${page.first}">맨 처음 페이지</a><br>
<a href="/tolist?page=" th:attrappend="href=${page.number-1}">이전페이지</a><br>
<a href="/tolist?page=" th:attrappend="href=${page.number+1}">다음페이지</a><br>
<a href="/tolist?page=" th:attrappend="href=${page.last}">맨 마지막페이지</a><br>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">



</script>

</html>