<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ReadPage</title>
</head>
<body>
<pre>
    <p th:text="${fileContent}"></p>
</pre>
<table class="board_list" border="1">
    <colgroup>
        <col width="15%"/>
        <col width="*"/>
        <col width="15%"/>
        <col width="20%"/>
    </colgroup>
    <thead>
    <tr>
        <th scope="col">1</th>
        <th scope="col">1</th>
        <th scope="col">1</th>
        <th scope="col">1</th>
        <th scope="col">1</th>
        <th scope="col">1</th>


    </tr>
    </thead>

    <tbody>
    <div>
        <tr style="text-align: center">
            <td rowspan="4">type</td>
            <td>clen</td>
            <td>c2</td>
            <td rowspan="4">num</td>
            <td rowspan="4">ref</td>
            <td rowspan="4">alt</td>

        </tr>

        <tr style="text-align: center">
            <td>c2</td>
            <td>내용</td>
        </tr>
        <tr style="text-align: center">
            <td>c3</td>
            <td>aa2aaa</td>
        </tr>
        <tr style="text-align: center">
            <td>c4</td>
            <td>aa2aaa</td>
        </tr>

    </div>





    </tbody>

</table>
</body>
</html>