<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ViewPage</title>
</head>
<body>

<div style="float: left">
    <form id="filterForm" class="filterGroup" method="post" action="/view/filters">
        <input type="submit" name="formBtn" id="formBtn">
        <div class="filters" id="filters" name="filters" th:each="filterList : ${filterList}">
            <select class="dbSelect" id="dbSelect" name="dbSelect">
                <option th:each="cols : ${cols}" th:text="${cols.colsName}" th:value="${cols.colsNum}"
                        th:selected="${filterList.dbSelect == cols.colsNum}"></option>
            </select>
            <select calss="condition" id="condition" name="condition">
                <option value="equal">＝</option>
                <option value="notEqual">≠</option>
            </select>
            <input autocomplete="off" class="comp" name="comp" id="comp" th:value="${filterList.comp}"/>
            <input th:value="${fileIdx}" type="hidden" id="fileIdx" name="fileIdx">
            <button type="button" class="remove" name="remove" id="remove">삭제</button>
        </div>
    </form>

    <button name="addFilter" id="addFilter">추가</button>
</div>


<div style="clear: left">
    <input type="checkbox" name="box" th:each="cols : ${cols}" th:text="${cols.colsName}" th:value="${cols.colsNum}"
           checked="${cols.colsStatus}">
</div>


<!--<button name="btn" id="btn">filltering</button>-->
<table class="board_list" border="1">
    <thead>
    <tr th:if="${index.index == 1}" th:each="list,index: ${list}">
        <th scope="col" th:each="cols: ${list.vcfValues}" th:text="${cols.header}" class="columns ths">
        </th>
    </tr>
    </thead>

    <tbody>

    <div>
        <tr style="text-align: center" th:if="${#lists.size(list)} > 0 " th:each="list : ${list}">
            <td th:if="${#lists.size(list2)} > 0" th:each="list2 : ${list.vcfValues}" th:text="${list2.value}"
                class="columns"></td>
        </tr>


    </div>
    </tbody>
</table>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">


    $("#pageSizeSelect").change(function () {
        var pageSize = $(this).val();
        $('#pageSize').val(pageSize);
        $("#pageStatus").val(1);
        filterForm.submit();
    });

    $(".siftScore").each(function () {
        var status = $(this).text();

        if (status == '.') {
            return true;
        }
        if (parseFloat(status) > 0.05) {
            $(this).css("color", "#0000ff");
        } else {
            $(this).css("color", "#ff0000");
        }
    });


    $(".ppScore").each(function () {
        var status = $(this).text();


        if (status == '.') {
            return true;
        }

        if (parseFloat(status) >= 0 && parseFloat(status) <= 0.452) { //B
            $(this).css("color", "#0000ff");
        } else if (parseFloat(status) >= 0.453 && parseFloat(status) <= 0.956) {
            $(this).css("color", "#ffb819"); //P
        } else if (parseFloat(status) >= 0.957 && parseFloat(status) <= 1) {//D
            $(this).css("color", "#ff0000");
        }
    });


    //체크박스 풀면 hide..
    $("input:checkbox[name='box']").change(function () {
        var value = $(this).val();
        var isCheck = $(this).is(':checked');


        $(".columns").each(function () {
            if (!isCheck) {
                if (value == $(this).attr("data-value")) {
                    $(this).hide();
                    $('.' + value).hide();
                }
            } else {
                if (value == $(this).attr("data-value")) {
                    $(this).show();
                    $('.' + value).show();
                }
            }

        });//end tab
    });//end change


    $(".dbSelect").change(function () {
        var dbSelect = $(this).val();

        $("select[name='condition'] option").remove();
        $("<option></option>>").text("=").attr("value", "equal").appendTo("select[name='condition']");
        $("<option></option>>").text("≠").attr("value", "notEqual").appendTo("select[name='condition']");

        $(".dbSelect").each(function () {
            var value = $(this).val();

            if (value == 10 || value == 11 || value == 17 || value == 18 || value == 26) {
                $("<option></option>>").text("<").attr("value", "less").appendTo($(this).next());
                $("<option></option>>").text(">").attr("value", "greater").appendTo($(this).next());
                $("<option></option>>").text("≤").attr("value", "lessEqual").appendTo($(this).next());
                $("<option></option>>").text("≥").attr("value", "greaterEqual").appendTo($(this).next());
            }
        });
    });


    $(".remove").click(function () {

        if ($(".filters").length == 1) {
            return;
        }

        $(this).parents(".filters").remove();
    });

    $("#addFilter").click(function () {

        if ($(".filters").length > 9) {
            alert("10개까지 가능");
            return;
        }

        var filters = $("#filters").clone(true);
        $(".filterGroup").append(filters);
        $(".comp").val("");
    });

</script>
</html>